<div id="container">

  <h1>Watch Yarp!</h1>
  <div class="slide"></div>

  <div class ="ball">
    <a href='http://www.gifbin.com/987543' title='Funny Gifs'><img src='http://www.gifbin.com/bin/052013/1369329043_dog_bounces_off_ball.gif'></a>
  </div>

  <div class="yarp">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/_vdD3tZ8e54" frameborder="0" allowfullscreen></iframe>  </div>
  </div>

  <div class="instructions">
    <p>Yarp can be very sleepy, so if you need to see a dog jump around, use the arrow keys!</p>
  </div>

  <div class="box"></div>

</div>






